// $HOME SWEET ~/
// Nothing to change here tbh
// include
include "startup.kdl" // Your startup application list
include "keybinds.kdl" // Your custom keybinds
include "monitors.kdl" // Your monitors go here
include "keymap.kdl" // Keyboard layout

// Startup some stuff that i feel should be here instead of startup.kdl
spawn-at-startup "vicinae" "toggle" // application launcher
spawn-at-startup "waybar" // status bar
spawn-at-startup "awww-daemon" // wallpaper daemon
spawn-at-startup "awww img ~/Pictures/wallpaper.png" // set wallpaper
spawn-at-startup "xwayland-satellite" // x11 compatibility fuckery, idk how this works but it works
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1" // temporary polkit agent, will be replaced with a custom one

// Env variables
environment {
	DISPLAY ":0"
	MOZ_ENABLE_WAYLAND "1"
}

// Active window colour gradient
layout {
    focus-ring {        
        active-gradient from="#8B5FBF" to="#FEC0CE" angle=45
    }
}

// Window style stuff part 2 electric boogaloo
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// Cursor
cursor {
    xcursor-theme "Bibata-85ce9"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 60000
}
